@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=REM&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@500&display=swap');
body{
    margin: 0;
    height: 100vh;
    background-color: #000814;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'REM', sans-serif;
    font-size: 17px;

}
.btn{
    background-color: #f40752;
}
.navbar-brand{
    font-family: 'Caprasimo', cursive;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
.text_danger{
    background-color: #f40752;
}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: #f40752;
}
.profile{
    width:10%;
    margin:5px;
    /* filter: drop-shadow(10px 10px 70px white); */
}

.card img{
    height: 300px;
    width: 400px;
}

.title{
    color: #f40752;
    text-align: center;
}

